body {
background-color: #cbf1f5;
}

h3{
color: #11999e;
}

h1{
  color: #11999e;
}




hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
  border-color: grey;
}
